.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #e8ddca;
}

.menu-button {
  position: fixed;
  bottom: 0;
  background-color: #e9ebf0;
  opacity: 0.55;
  border-radius: 100%;
}

/* reminder margin: 30px */
