.top-logo {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.55;
  background-color: #e9ebf0;
}

.menu-button {
  position: fixed;
  bottom: 0;
  background-color: #e9ebf0;
  opacity: 0.55;
  border-radius: 8px;
}

/* reminder margin: 30px */
